.heading{
    margin-left: 7rem;
}
.heading a{
  color: white;
  text-decoration: none;
}
.heading h3:hover{
  border-bottom: 2px solid white;
  width: fit-content;
}
.heading li{
    margin: 15px;
}
@media screen and (max-width: 600px) {
  .heading{
      margin-left: 3rem;
  }
 
}
